@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --btnColor: #E02C6D;

}

section,
header {
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.btn {
    background-color: var(--btnColor);
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.btn a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: capitalize;
}

.sm-btn {
    display: none;
}

.btn:hover i {
    transform: translateX(5px);
    transition: .3s ease-out;
}

.btn span i {
    font-size: 18px;
}


/* Header Section Style */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.sm-logo {
    display: none;
}

.logo h2 {
    font-size: 28px;
}

.nav-menu>.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-right: 15px;
}

.menu-items li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    padding: 10px;
}

.menu-items li:hover a {
    color: var(--btnColor);
}

.cart {
    font-size: 20px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 500px;
    height: calc(100vh-80px);
}



.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.banner-left h1 {
    font-size: 52px;
    line-height: 1.4em;
    font-weight: 700;
}

.banner-left p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    color: #3A3A3A;
    margin: 15px 0;

}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-right img {
    width: 80%;
    transition: .3s ease-in-out;
}

.banner-right img:hover {
    transform: translateY(10px);
}


/* Brand Logos Section Style */
.brand-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: 2px solid rgba(93, 101, 109, 0.1);
    border-bottom: 2px solid rgba(99, 106, 114, 0.1);

}

.brand-logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
    align-items: flex-end;


}

/* Featured Section Style */
.section-header h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 70px;

}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.product-img {
    overflow: hidden;

}

.product-img img {
    width: 100%;
    transition: .3s;
}

.product-img img:hover {
    transform: scale(1.2);
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px -6px 10px 10px #f1f1f1;
}

.product-details h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
    margin: 10px 0;
}

.product-details .price {
    font-size: 22px;
    font-weight: 400;
    color: #726c6c;
    margin: 10px 0;
}

.ratings i {
    font-size: 14px;
    color: #FB8200;
}

.product-info {
    font-size: 16px;
    line-height: 1.5em;
    text-transform: capitalize;
}

.load-more {
    text-transform: capitalize;
    float: right;
    margin-right: 50px;
}

.load-more a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* Subscribe Section Style */
.subscription-section {
    height: 300px;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #221f1fde;
    background-blend-mode: overlay;
}

.subscrip {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.subscrip-left {
    width: 50%;
    margin-top: 50px;
}

.subscrip-left h2 {
    font-size: 35px;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #fff;
}

.subscrip-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
}

.subscrip-right form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.subscrip-right button {
    width: 180px;
    font-size: 18px;
    display: inline-block;
    padding: 18px 30px;
    border: 0;
    border-radius: 30px;
    color: #fff;
    margin-left: -70px;
    background-color: var(--btnColor);
    cursor: pointer;
}

::placeholder {
    color: #fff;
}

.subscrip-right input {
    font-size: 18px;
    outline: 0;
    color: #fff;
    background: transparent;
    border: 2px solid var(--btnColor);
    padding: 15px 30px;
    border-radius: 30px;
}

/* Footer Section Style */
.footer-section {
    background-color: #0A0826;
}

.footer-details {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-details h2,
.footer-details p,
.footer-details span {
    color: #fff;
    margin-bottom: 15px;
    text-transform: capitalize;

}

.footer-details h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5em;
}

.footer-details p {
    font-size: 16px;
    color: #D9DBE1;

}

.social-media i {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

/* 
=====================================================
                Responsive Design
======================================================= */
@media only screen and (max-width: 992px) {

    .menu-items li a {
        font-size: 14px;
        padding: 5px;
    }

    header,
    section {
        margin-bottom: 0;
    }

    .logo h2 {
        font-size: 22px;
    }

    .banner-left h1 {
        font-size: 36px;
    }

    .banner-right {
        align-items: center;
    }

    .brand-logos {
        grid-gap: 10px;
    }

    .brand-section {
        margin-bottom: 50px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscrip {
        display: flex;
        flex-direction: row;
    }

    .featured-section {
        margin-bottom: 100px;
    }

    .subscription-section {
        margin-bottom: 50px;
    }

    .subscrip-left {
        margin-left: 20px;
    }

    .subscrip-left h2 {
        font-size: 22px;
    }

    .subscrip-left p {
        font-size: 14px;
    }

    .subscrip-right input {
        font-size: 15px;
        padding: 12px 25px;
    }

    .subscrip-right button {
        font-size: 16px;
        padding: 14px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .sm-logo {
        display: block;
        margin: 20px 0;
        position: relative;
        border-bottom: 3px solid var(--btnColor);
    }

    .banner-left h1 {
        font-size: 30px;
    }

    .banner-left p {
        font-size: 15px;
    }

    .banner-right img {
        width: 80%;
    }

    .big-nav {
        display: none;
    }

    .logo h2 {
        text-align: center;
    }

    .banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .big-btn {
        display: none;
    }

    .sm-btn {
        display: block;
        margin: 50px 0;
    }

    .sm-btn a {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5em;
    }

    .brand-logos {
        grid-template-columns: repeat(4, 1fr);
    }

    .product {
        width: 250px;
    }

    .product h3 {
        font-size: 18px;
    }

    .ratings i {
        font-size: 12px;
    }

    .product-info {
        font-size: 14px;
    }

    .subscrip {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .subscrip-left {
        width: 100%;
    }

    .subscrip-right {
        width: 100%;
        margin-top: 20px;
    }

    .footer-details h2 {
        font-size: 20px;
    }

    .footer-details p,
    .footer-details span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 568px) {
    .container {
        padding: 0 10px;
    }

    .banner-left h1 {
        font-size: 25px;
    }

    .banner-left p {
        font-size: 14px;
    }

    .sm-btn a {
        font-size: 14px;
    }

    .brand-section {
        height: 300px;
    }

    .brand-logos {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .section-header h2 {
        font-size: 25px;
    }

    .products {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .load-more {
        margin-right: 80px;
    }

    .subscrip-right input {
        padding: 12px 20px;
    }

    .subscrip-right button {
        padding: 15px 25px;
    }
}